input, textarea, select{
	width: 100%;
	border: none;
	border: 1px solid rgba($border, .5);
	outline: none;
	box-shadow: none;
	background-color: transparent;
	transition: all .6s;

	&:hover {
		border-color: var(--accent);
	}

	&:focus:required:invalid{
		border-color: var(--accent);
		outline: none;
		box-shadow: none;
		-webkit-appearance: none;
	}

	&:required:valid{
		border-color: $green;
		outline: none;
		box-shadow: none;
		-webkit-appearance: none;
	}

	&::placeholder{
		color: $text--light;
		font-weight: 400;
	}
}

input, select {
	height: 50px;
	line-height: 50px;
	padding: 0 8px;

	&::placeholder {
		line-height: 50px;
	}
}

textarea {
	border: 1px solid $text;
	height: 200px;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 4px;
	resize: none;

	&::placeholder {
		line-height: 1.4;
		color: $text;
	}
}

label.error {
	position: absolute;
	bottom: -25px;
	right: 25px;
	left: 25px;
	transition: all .3s;
	animation: error .3s linear 1 forwards;
	color: #fff;
	text-align: center;
	font-weight: 600;
	background-color: red;
	border-radius: 10px;
	z-index: 1;

	&::before {
		content: '';
		position: absolute;
		left: 50%;
		top: -8px;
		margin-left: -2px;
		border-bottom: 4px solid red;
		border-left: 4px solid transparent;
		border-right: 4px solid transparent;
		border-top: 4px solid transparent;
	}

}


input {
	width: 100%;
	height: 40px;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
	padding: 0 10px;
	background-color: $white;
	font-weight: 600;

	&::placeholder {
		color: $border;
	}
}

label {
	font-family: $title;
	font-size: 18px;
	line-height: 1.2;
	font-weight: 600;
	margin-bottom: 10px;
}

button {
	width: 40px;
	height: 40px;
	background: var(--accent);
	border: 0;
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}

.policy {
	font-size: 12px;
	font-family: $title;
	width: 100%;
	display: flex;
	align-items: center;

	svg, path {
		margin-right: 4px;
		fill: var(--accent);
	}

	a {
		color: var(--accent);
		border-bottom: 1px dashed var(--accent);
		font-weight: 500;
		margin-left: 3px;

		&:hover,
		&:focus {
			border-bottom: 1px solid var(--accent--hover);
			color: var(--accent--hover);
		}
	}
}
